{% extends 'headers/auth-header.html' %}

{% block content %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-5 shadow-lg rounded-4"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="text-center p-3">Forget Password</h1>
        <label for="emailhelp"
               class="emailHelp pb-3">
            Enter your email address and we'll send you a link to reset your password.
        </label>

        {% if messages %}
        <div class="alert alert-primary"
             role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="emailHelp"
                   class="form-text">Your email address(student email)</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   aria-describedby="emailHelp">
        </div>
        <button type="submit"
                class="btn btn-primary">Send me Link</button>
    </form>

</div>

{% endblock %}