{% autoescape off %}

{% load i18n %}

{% blocktrans %}Hello, User{% endblocktrans %}

{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Chat
Tutor.{% endblocktrans %}

{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}

Reset Link: http://{{ domain }}{% url 'reset-password' uidb64=uid token=token %}

{% blocktrans %}Your email, in case you've forgotten: {{ user.email }}{% endblocktrans %}

{% blocktrans %}Thanks for using our site! The {{ site_name }} team {% endblocktrans %}


{% endautoescape %}