{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
       <form class="col-6 mx-auto card p-5 shadow-lg rounded-4"
             method="post"
             enctype="multipart/form-data">
              {% csrf_token %}
              <div class="text-center p-3">
                     <h1 class="text-center">Create an account</h1>
                     <p class="form-text">Create your account to continue to your course.</p>
              </div>

              {% if messages %}
              <div class="alert alert-primary"
                   role="alert">
                     {% for message in messages %}
                     {{ message }}
                     {% endfor %}
              </div>
              {% endif %}
              <div class="mb-3">
                     <label for="emailHelp"
                            class="form-text">Your email address(student email)</label>
                     <input type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                     <label for="nameHelp"
                            class="form-text">Anonoymous name</label>
                     <input type="text"
                            class="form-control"
                            id="anonymousname"
                            name="anonymousname"
                            aria-describedby="nameHelp">
                     <div id="anonymousnameHelp"
                          class="form-text">We strongly recommend that you use anonymous name. This will help secure
                            your identity and help you safely learn and explore.</div>
              </div>
              <div class="mb-3">
                     <label for="InputPassword1"
                            class="form-text">Password</label>
                     <input type="password"
                            class="form-control"
                            id="password"
                            name="password">
              </div>
              <div class="mb-3">
                     <label for="InputPassword2"
                            class="form-text">Confirm Password</label>
                     <input type="password"
                            class="form-control"
                            id="confirm-password"
                            name="confirm-password">
              </div>
              <button type="submit"
                      class="btn btn-primary">Sign up</button>
              <div class="form-text"> By continuing you agree to Terms of use and Privacy Policy.</div>

              <div class="form-text"> Already have account. <a href="/login/">Login</a></div>
       </form>

</div>

{% endblock %}