{% extends 'headers/base-header.html' %}

{% block title %}Users{% endblock %}

{% block content %}

<!-- Invite messages -->
{% if messages %}
<div class="alert alert-primary"
     role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

<!-- Invite users to the platform -->
<div class="container pt-5">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-whatever="Invite Users">
        Invite Users
    </button>

    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalLabel text-center">Send Invitation to your students</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form name="inviteform"
                          method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="recipient-name"
                                   class="col-form-label">Recipients:</label>
                            <textarea class="form-control"
                                      id="recipients-email"
                                      name="recipientsEmail"
                                      placeholder="Place comma after each email for multiple input."
                                      style="height: 100px; max-height: 100px;"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="message-text"
                                   class="col-form-label">Type your customized message here (optional):</label>
                            <textarea class="form-control"
                                      id="message-text"
                                      name="messageText"></textarea>
                        </div>
                </div>

                <button type="submit"
                        class="btn btn-primary m-3 border-radius-3">Send Invitation</button>

                </form>
            </div>
        </div>
    </div>

    <!-- Show list of invited users -->
    <div class="section pt-4">
        <div class="section-title">Invited Users</div>
        <div class="row">
            {% for inviteduser in invitedusers %}
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card card-user">
                    <div class="card-body">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray"
                                     src="{{ inviteduser.profile.image.url }}"
                                     alt="...">
                                <h5 class="title">{{ inviteduser.username }}</h5>
                            </a>
                            <p class="description">
                                {{ inviteduser.profile.bio }}
                            </p>
                        </div>
                        <p class="description text-center">
                            {{ inviteduser.profile.location }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="button-container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-6 ml-auto">
                                    <h5>Email</h5>
                                    <small>{{ inviteduser.email }}</small>
                                </div>
                                <div class="col-lg-6 mr-auto">
                                    <h5>Superuser</h5>
                                    <small>{{ inviteduser.is_superuser }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Show list of users in the database with option to delete and edit the user.-->
        <div class="section pt-4">
            <div class="section-title">Users</div>
            <div class="row">
                {% for user in users %}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card card-user">
                        <div class="card-body">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray"
                                         src="{{ user.profile.image.url }}"
                                         alt="...">
                                    <h5 class="title">{{ user.username }}</h5>
                                </a>
                                <p class="description">
                                    {{ user.profile.bio }}
                                </p>
                            </div>
                            <p class="description text-center">
                                {{ user.profile.location }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <hr>
                            <div class="button-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-6 ml-auto">
                                        <h5>Email</h5>
                                        <small>{{ user.email }}</small>
                                    </div>
                                    <div class="col-lg-6 mr-auto">
                                        <h5>Superuser</h5>
                                        <small>{{ user.is_superuser }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% endblock %}